table {
  width: 100%;
}
.mat-elevation-z8 {
  margin-right: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 30%;
  height: 4%;
  width: 40%;
} 

div {
  margin-right: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 30%;
  height: 4%;
  width: 40%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}