<div *ngIf="loading">Cargando...</div>
<div *ngIf="!loading" style="color: green; cursor: pointer;" (click)="reload()">Reload</div>

<table class="mat-elevation-z8">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
    <tr *ngFor="let item of dataSource">
      <td>{{item.usuId}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td style="color: blue; cursor: pointer;" (click)="edit()">Editar</td>
      <td style="color: red; cursor: pointer;" (click)="remove(item.usuId)">Eliminar</td>
    </tr>
  </table>